server {
    listen 80;
    server_name zehnergroup.com;
    return 301 http://www.zehnergroup.com$request_uri;
}

server {
  ## Port
  listen 80;

  ## Increase max body size
  client_max_body_size 20m;

  ## Server name
  server_name ${EXTERNAL_HOSTNAME};

  ## Static File Routing
  # location ~ ^/(assets/|uploads/|favicon.ico) {
  #   root <%= @root_dir %>/public;
  #   access_log off;
  #   expires max;
  # }

  location ~ /static/img/signatures/(.*)$ {
    return 301 /assets/signatures/$1?$is_args$args;
  }
  location ~ /work-portfolio/pledgeling/?(.*)$ {
    return 301 /work/pledgeling$is_args$args;
  }
  location ~ /work-portfolio/orly/?(.*)$ {
    return 301 /work/orly$is_args$args;
  }
  location ~ /work-portfolio/eco-outdoor/?(.*)$ {
    return 301 /work/eco-outdoor$is_args$args;
  }
  location ~ /work-portfolio/stacked/?(.*)$ {
    return 301 /work$is_args$args;
  }
  location ~ /work-portfolio/farmers/?(.*)$ {
    return 301 /work/farmers$is_args$args;
  }
  location ~ /work-portfolio/guy-hepner/?(.*)$ {
    return 301 /work/guy-hepner$is_args$args;
  }
  location ~ /work-portfolio/angelika-film-center/?(.*)$ {
    return 301 /work/angelika$is_args$args;
  }
  location ~ /work-portfolio/tennis/?(.*)$ {
    return 301 /work/tennis$is_args$args;
  }
  location ~ /work-portfolio/tidalwavez/?(.*)$ {
    return 301 /work/tidalwavez$is_args$args;
  }
  location ~ /work-portfolio/national-park-reservations/?(.*)$ {
    return 301 /work/national-park-reservations$is_args$args;
  }
  location ~ /work-portfolio/lametro/?(.*)$ {
    return 301 /work/metro$is_args$args;
  }
  location ~ /work-portfolio/metro/?(.*)$ {
    return 301 /work/metro$is_args$args;
  }
  location ~ /work/arbesko/?(.*)$ {
    return 301 /work$is_args$args;
  }
  location ~ /work/health-in-reach/?(.*)$ {
    return 301 /work$is_args$args;
  }
  location ~ /work/yellowpages/?(.*)$ {
    return 301 /work$is_args$args;
  }
  location ~ /work/jetsuite/?(.*)$ {
    return 301 /work$is_args$args;
  }
  location ~ /services/python-django-development/?(.*)$ {
    return 301 /s/los-angeles/python-django-development$is_args$args;
  }
  location ~ /services/ios-development/?(.*)$ {
    return 301 /s/los-angeles/ios-development$is_args$args;
  }
  location ~ /zehnergroup_news/cloud-migration-user-experience/?(.*)$ {
    return 301 /news$is_args$args;
  }
  location ~ /zehnergroup_news/zehnergroups-adam-duro-named-cio-of-the-year/?(.*)$ {
    return 301 /news/zehnergroups-adam-duro-named-cio-of-the-year$is_args$args;
  }
  location ~ /zehnergroup_news/20-real-world-it-cost-cutting-mistakes-you-need-to-avoid-2/?(.*)$ {
    return 301 /news$is_args$args;
  }
  location ~ /zehnergroup_news/zehnergroup-ceo-on-business-rockstars/?(.*)$ {
    return 301 /news$is_args$args;
  }
  location ~ /zehnergroup_news/20-real-world-it-cost-cutting-mistakes-you-need-to-avoid/?(.*)$ {
    return 301 /news$is_args$args;
  }
  location ~ /zehnergroup_news/agency-vs-in-house/?(.*)$ {
    return 301 /news/agency-vs-in-house$is_args$args;
  }
  location ~ /zehnergroup_news/love-by-christina-masterson-weston-james-creative-director-at-zehnergroup/?(.*)$ {
    return 301 /news$is_args$args;
  }
  location ~ /zehnergroup_news/zehnergroup-expands-offices-los-angeles-new-york-city/?(.*)$ {
    return 301 /news$is_args$args;
  }
  location ~ /zehnergroup_news/los-angeles-business-journal-silicon-beach-was-the-biggest-l-a-business-story-of-the-year/?(.*)$ {
    return 301 /news$is_args$args;
  }
  location ~ /zehnergroup_news/three-reasons-your-startup-will-suffer-without-devops-devops/?(.*)$ {
    return 301 /news$is_args$args;
  }
  location ~ /zehnergroup_news/were-seeing-gold/?(.*)$ {
    return 301 /news$is_args$args;
  }
  location ~ /zehnergroup_news/4-big-big-awards-for-zehnergroup/?(.*)$ {
    return 301 /news$is_args$args;
  }
  location ~ /zehnergroup_news/guy-hepner-website-advances-in-the-addy-awards-competition/?(.*)$ {
    return 301 /news$is_args$args;
  }
  location ~ /zehnergroup_news/hey-grads-heres-some-advice-be-a-good-observer/?(.*)$ {
    return 301 /news$is_args$args;
  }
  location ~ /zehnergroup_news/three-tips-for-building-a-minimum-viable-product-thats-not-at-all-minimal/?(.*)$ {
    return 301 /news$is_args$args;
  }
  location ~ /zehnergroup_news/zehnergroup-is-the-peoples-choice-for-this-years-pixel-awards/?(.*)$ {
    return 301 /news$is_args$args;
  }

  ## Proxy Server
  location / {
    proxy_redirect off;
    proxy_set_header   X-Real-IP            $remote_addr;
    proxy_set_header   X-Forwarded-For      $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Proto    $scheme;
    proxy_set_header   Host                 $http_host;
    proxy_set_header   X-NginX-Proxy        true;
    proxy_set_header   Connection           "";
    proxy_pass         http://frontend:8003;
  }
}