<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ pageTitle }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    {% for meta in metas %}
    {{ meta|safe }}
    {% endfor %}
    <link rel="shortcut icon" href="/assets/favicon.ico?v=1.0" />
    <link rel="stylesheet" href="/assets/build/css/index.css" />

  </head>

  <body>

    <div id="app">{{ body|safe }}</div>

    {{ state|safe }}

    <script src="/assets/build/js/{{ bundleName }}.js"></script>

  </body>
</html>
