<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ pageTitle }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    {% for meta in metas %}
    {{ meta|safe }}
    {% endfor %}
    <link rel="shortcut icon" href="/assets/favicon.ico?v=1.0" />
    <link rel="stylesheet" href="/assets/build/css/index.css" />

    <script type="text/javascript">
      (function(a,e,c,f,g,b,d){var h={ak:"1028728129",cl:"SbNVCILRtFcQwcrE6gM"};a[c]=a[c]||function(){(a[c].q=a[c].q||[]).push(arguments)};a[f]||(a[f]=h.ak);b=e.createElement(g);b.async=1;b.src="//www.gstatic.com/wcm/loader.js";d=e.getElementsByTagName(g)[0];d.parentNode.insertBefore(b,d);a._googWcmGet=function(b,d,e){a[c](2,b,h,d,null,new Date,e)}})(window,document,"_googWcmImpl","_googWcmAk","script");
    </script>

  </head>

  <body onload="_googWcmGet('ppc-phonenumber', '310.765.1600')">

    <div id="app">{{ body|safe }}</div>

    {{ state|safe }}

    <script src="/assets/build/js/{{ bundleName }}.js"></script>

    <script>
      var MTIProjectId =' 804ef3ce-965f-4344-bb4f-53eba6d5e9a1';
      (function() {
        var mtiTracking = document.createElement('script');
        mtiTracking.type='text/javascript';
        mtiTracking.async='true';
        mtiTracking.src=('https:'==document.location.protocol?'https:':'http:')+'//fast.fonts.net/t/trackingCode.js';
        (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild( mtiTracking );
      })();
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-11076207-1', 'auto');
      ga('send', 'pageview');

    </script>

  </body>
</html>